.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__input {
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.custom-select__input.required {
  border-color: #fd7e14;
}

.custom-select__options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  z-index: 9999;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.custom-select__options.show {
  opacity: 1;
}

.custom-select__options.hide {
  opacity: 0;
  visibility: hidden;
}

.custom-select__options li {
  padding: 0.5em;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.custom-select__options li:hover {
  background-color: #f2f2f2;
}

.custom-select__options li.selected {
  background-color: #ccc;
}

.required-message {
  font-size: small;
  font-size: 14px;
  margin-top: 0;
  text-align: center;
  background-color: #fd7e14;
  color: #ffffff;
  padding: 2px;
}

